/***************  CUSTOM CSS ***/
.combo-box {
    height: 69px;
    width: 170px;
    left: 100px;
    top: 298px;
    border-radius: 5px;
    border: none;

}

.combo-box-open {
    height: 397px;
    width: 667px;
    left: 98px;
    top: 238px;


}

input {
    color: #fff;
}

input::placeholder {
    color: #fff;
    height: 22px;
    width: 100%;
    left: 15px;
    top: 23px;
    padding: 20px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    /* text-align: center; */
}

.input-opacity {
    color: grey !important;
}

.fa-times-circle {
    color: white;
    margin-left: 15px;
}


/* !TEEESSTTTTT */

.show {
    display: flex;
    flex-wrap: wrap;
}

.unshow {
    display: none;
}

#ing {
    overflow-y: hidden;
    width: 1400px;
    height: 400px;


    height: 400px;
    color: #fff;
    column-count: 2;
    column-width: 100px;

}



option {
    color: #fff;
    cursor: pointer;
}

a {
    display: block;
    width: 100%;
    height: auto;
}

li {
    display: block;
    margin: 5px;
    background-color: blue;
    width: 200px;
    color: white;
    cursor: pointer;

}