option {
    color: #fff;
    cursor: pointer;
}

a {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

li {
    display: block;
    width: 117px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    padding-left: 11px;
    padding-right: 27px;
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


input::placeholder {
    height: 22px;
    width: 100%;
    left: 15px;
    top: 23px;
    padding: 20px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    /* text-align: center; */
}




.opacituy {
    color: rgba(220, 220, 220, 0.698)
}

.input-opacity {
    color: grey !important;
}

.color1::placeholder {
    color: white;
}

.color2::placeholder {
    color: rgba(220, 220, 220, 0.698)
}


/* Combo-box General */

.main-header {
    gap: 30px
}

.main-header__box-filter {
    position: relative;
    width: 170px;
}

.container-fluid-mt5 {
    margin-top: 15px;
}

.combo-box {
    height: 69px;
    width: 100%;
    left: 100px;
    top: 298px;
    border-radius: 5px;
    border: none;
    line-height: 21.6px;
    color: #fff;
    padding-left: 13px;
}

.combobox_datalist {
    z-index: 1000;
    position: absolute;
    height: 397px;
    width: 667px;

    border-radius: 5px;

}

.combo-box-open {
    height: 397px;
    width: 667px;
    left: 98px;
    top: 238px;

}


.fa-chevron-down {
    position: absolute;
    top: 26px;
    right: 12px;
    font-size: 21px;

}

.reverse-chevron {
    transform: rotate(180deg);
}



/* FILTRE */


.select {
    position: relative;
}

.element-selected {
    position: absolute;
    top: -61px;
    min-width: 170px;
    max-width: 240px;
}

.fa-times-circle {
    position: absolute;
    top: 15px;
    font-size: 20px;
    right: 9px;
    color: white;
}


#ingredient {
    overflow-y: hidden;
    width: 1400px;
    height: 400px;
    height: 400px;
    color: #fff;
    column-count: 2;
    column-width: 100px;
}


/* class custom  added by javascript */

.show {
    display: flex;
    flex-wrap: wrap;
}

.unshow {
    display: none;
}

.margin-comboBox-top {
    margin-top: 50px;
}

.margin-comboBox-normal {
    margin-top: 0px;
}